<div class="container1">
			<div class="wrapper">
				<div class="content">
          <div class="col-md-6 mx-auto">
            <%#= image_tag("Layout/logo_2.png", alt: "Logo", title: "Logo", style: "margin-bottom: 20px;") %>
					<h1>We'll be right with you!</h1>
					<p>Whilst we are working on the website please sign up below!</p>
					<p>We are still running classes saturday morning, 10 - 11 and 11 - 12</p>
          <%= form_for @subscriber do |f| %>
          <div class="input-group">
            <%= f.email_field :email, class: 'textbox', placeholder: 'Enter your email address' %>
            <%= f.hidden_field :source, value: 'landing_page' %>
						<div class="md-checkbox">
							<%= f.check_box :gdpr, style:"margin-right: 20px;" %>
							<%= f.label :gdpr, "* I would like to sign up to receive email updates from Revolution Gymnastics.", style: "text-transform: capitalize" %> <br />
		        </div>
            <%= f.submit 'Subscribe', class: 'btn btn-2' %>
          </div>
        <% end %>
				</div> <!-- content ends -->
				</div> <!-- content ends -->
			</div> <!-- wrapper ends -->
		</div> <!-- container ends -->
